<html>
    <head>
        <title>tiss progress</title>
    </head>
    <body>
        {% if not user.is_authenticated %}
        <p><a href="/accounts/signup/">Sign up</a> or <a href="/accounts/signin/">Sign in</a></p>
        {% else %}
        <h1>bookmarklet:</h1>
        <p><a href="javascript:(function(){ window.tisshack_authkey = '{{user.get_profile.auth_key}}'; var _my_script=document.createElement('SCRIPT'); _my_script.type='text/javascript'; _my_script.src='https://nomin.at/p/tiss/static/script.js'; document.getElementsByTagName('head')[0].appendChild(_my_script); })();">bookmarklet</a></p>
        <p><a href="/accounts/signout/">Sign out</a>
        {% endif %}
    </body>
</html>
